$main-col: #00cc99; 

$bodyCol: #ffffff;

$bgrGallery: #ffffff;

$top-container: -webkit-linear-gradient(top, rgba(255,255,255,1) 55%, rgba(160,155,160,1) 100%, rgba(158,155,209,1) 100%);

$grey-font-col: rgba(192,192,192,.7);

$tariff: rgb(169, 164, 164);

$white: white;

$nav-col : black;